@{
    ViewData["Title"] = "All In One Supermarket";
}

<section id="projectPageContainer" class="projectPageContainerTwo">
    <div id="ProjectTitleContainerThree" class="ProjectTitleContainer bg-white">
        <h1 class="text-center text-primary projectTitle">All In One Supermarket</h1>
    </div>
    <!--ProjectFinalOutcome_UXWireFrames-->
    <div id="ProjectFinalOutcome_UXWireFramesContainer" class="">
        <div id="ProjectFinalOutcome_Layout">
            <video class="videoProjectMobileUx" width="400" height="600" loop autoplay muted>
                <source src="/mp4/AllInOne-Final.mp4" type="video/mp4">
                <source src="/mp4/AllInOne-Final.ogg" type="video/ogg">
            </video>
            <div id="TwoProjectSummary_Container" class="ProjectSummary_Container">
                <h3 class="briefHeading text-white">The Brief</h3>
                <p class="briefText text-white">
                    An e-commerce app that allows users to purchase items from multiple supermarkets 
                    and have them delivered to the same place at the same time.
                </p>
                <br />
                <h3 class="briefHeading text-white">Success Criteria</h3>
                <p class="briefText text-white">> Smooth user-experience journey  </p>
                <p class="briefText text-white">> Focus on using a mobile-first approach</p>
                <p class="briefText text-white">> Provide User with functionality and aesthitcally appealing UI</p>
                <p class="briefText text-white">> Use UX/UI theories and Marketing principles to increase conversion rates </p>
            </div>
        </div>
    </div>
    <!--UXWireFrames-->
    <div id="UXWireframes-Container" class="">
        <div id="UXWireframesContent-Container" class="UXWireframes-ContainerThree ">
            <!--Row1-->
            <div class="RowUXWireframes">
                <img class="imageUX" src="~/images/PortfolioProjectsList/ProjectThree/Category.png" />
                <div class="Text_UXWireframes-Container Text_UXWireframesMobile-Container">
                    <h3 class="text-white">Use the home page to access all features</h3>
                    <p class="Text-UXWireframes text-white">
                        The User is prompted to check out offers and discounts they can use in there shopping.
                    </p>
                </div>
            </div>
            <!--Row2-->
            <div class="RowUXWireframes">
                <img class="imageUX" src="~/images/PortfolioProjectsList/ProjectThree/FoodCupboard.png" />
                <div class="Text_UXWireframes-Container Text_UXWireframesMobile-Container">
                    <h3 class="text-white">Shop by caategory</h3>
                    <p class="Text-UXWireframes text-white">
                        Users can shop by category from multiple supermarkets.
                    </p>
                </div>            
            </div>
            <!--Row3-->
            <div class="RowUXWireframes">
                <img class="imageUX" src="~/images/PortfolioProjectsList/ProjectThree/ComparePrice.png" />
                <div class="Text_UXWireframes-Container Text_UXWireframesMobile-Container">
                    <h3 class="text-white">Compare the best deal</h3>
                    <p class="Text-UXWireframes text-white">
                        Users can view the price of the same item 
                        from different suppemarkets and get the best deal.
                    </p>
                </div>
            </div>
            <!--Row4-->
            <div class="RowUXWireframes">
                <img class="imageUX" src="~/images/PortfolioProjectsList/ProjectThree/ProductDetails.png" />
                <div class="Text_UXWireframes-Container Text_UXWireframesMobile-Container">
                    <h3 class="text-white">Product description</h3>
                    <p class="Text-UXWireframes text-white">
                        Users can view the product details and also look at the reviews of the product.
                    </p>
                </div>
                
            </div>
            <!--Row5-->
            <div class="RowUXWireframes">
                <img class="imageUX" src="~/images/PortfolioProjectsList/ProjectThree/ShoppingCart.png" />
                <div class="Text_UXWireframes-Container Text_UXWireframesMobile-Container">
                    <h3 class="text-white">Order summary</h3>
                    <p class="Text-UXWireframes text-white">
                        Users are presented with their order summary, 
                        they can either check out and use promo codes 
                        from there chosen supermarket for a specific 
                        item or continue shopping.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <a id="hoverProjectBtn" class="BackToListBtn btn btn-white BackToListBtnTwo" asp-controller="Home" asp-action="PortfolioProjects">Back To List</a>

</section>
<div class="bgStripe"></div>
<div class="bgStripe bgStripe2"></div>
<div class="bgStripe bgStripe3"></div>

