@{
    ViewData["Title"] = "Pots And Pans";
}
<section id="projectPageContainer" class="projectPageContainerTwo">
    <div id="ProjectTitleContainerFive" class="ProjectTitleContainer bg-white">
        <h1 class="text-center text-primary projectTitle">Pots And Pans</h1>
    </div>
    <!--ProjectFinalOutcome_UXWireFrames-->
    <div id="ProjectFinalOutcome_UXWireFramesContainer" class="">
        <div id="ProjectFinalOutcome_Layout" class="ProjectFinalOutcome_LayoutEx">
            <video class="videoProjectLaptop" width="400" height="240" loop autoplay muted controls>
                <source src="/mp4/PotsAndPans.mp4" type="video/mp4">
                <source src="/mp4/PotsAndPans.ogg" type="video/ogg">
            </video>
            <div id="TwoProjectSummary_Container" class="ProjectSummary_Container">
                <h3 class="briefHeading text-white">The Brief</h3>
                <p class="briefText text-white">
                    Create an online store that enables users to buy pots and pans and enables businesses to open accounts that allow them to pay within a 30-day billing cycle.
                </p>
                <br />
                <h3 class="briefHeading text-white">Success Criteria</h3>
                <p class="briefText text-white">
                    > Implement an N Tier Architecture
                </p>
                <p class="briefText text-white">
                    > Execute an Repository Pattern
                </p>
                <p class="briefText text-white">
                    > Role Management in ASP NET Core Identity
                </p>
                <p class="briefText text-white">
                    > Role based authorization and UI rendering
                </p>
                <p class="briefText text-white">
                    > Carry out Stripe checkout payment integrations
                </p>
                <a id="hoverProjectBtn" class="visitProjectFive BackToListBtn btn btn-white BackToListBtnTwo" style="margin-top:30px;"
                   href="https://potsandpans.azurewebsites.net/" target="visitProjectFive">Visit Site</a>

            </div>
        </div>
    </div>

    <!--UXWireFrames-->
    <div id="UXWireframes-ContainerLaptop" class="">
        <div id="caseStudySummary-Container" class="caseStudySummaryContainer bg-white">
            <h3 class="text-primary text-center">ASP.NET Core Identity</h3>
            <p id="caseStudySummary-PText" class="text-primary" style="">
                Custom  Identity Framework user interface (UI) register and login functionality.
            </p>
            <div id="imageUX_TwoContainer">
                <img id="laptopimageUXCaseStudy" class="laptopimageUX" src="~/images/PortfolioProjectsList/ProjectFive/DoubleRegisterLogin.png" />
            </div>
        </div>

        <div id="UXWireframesContent-Container" class="UXWireframes-ContainerFive">
            <!--Row1-->
            <div class="RowUXWireframes laptopRowUX">
                <img class="laptopimageUX" src="~/images/PortfolioProjectsList/ProjectFive/Company.png" />

                <div class="Text_UXWireframes-Container">
                    <h3 class="text-white">
                        Admin Company List
                    </h3>
                    <p class="Text-UXWireframes text-white">
                        Admin account must create a company in order to create company busineess account
                    </p>
                </div>
            </div>
            <!--Row2-->
            <div class="RowUXWireframes laptopRowUX">
                <img class="laptopimageUX" src="~/images/PortfolioProjectsList/ProjectFive/OrderList.png" />
                <div class="Text_UXWireframes-Container">
                    <h3 class="text-white">
                        Order Managment List
                    </h3>
                    <p class="Text-UXWireframes text-white">
                        Admin account user can manage logistics for orders
                    </p>
                </div>
            </div>
            <!--Row3-->
            <div class="RowUXWireframes laptopRowUX">
                <img class="laptopimageUX" src="~/images/PortfolioProjectsList/ProjectFive/OrderManagementSum.png" />
                <div class="Text_UXWireframes-Container">
                    <h3 class="text-white">
                        Order Summary
                    </h3>
                    <p class="Text-UXWireframes text-white">
                        Admin account user will be presented with the order summary to update the carrier, tracking details with the controlls to update the order status
                    </p>
                </div>
            </div>
            <!--Row4-->
            <div class="RowUXWireframes laptopRowUX">
                <img class="laptopimageUX" src="~/images/PortfolioProjectsList/ProjectFive/ProductList.png" />
                <div class="Text_UXWireframes-Container">
                    <h3 class="text-white">
                        Product Management list
                    </h3>
                    <p class="Text-UXWireframes text-white">
                        User Admin roles only have the access to use crud operation to manage a product
                    </p>
                </div>
            </div>
            <!--Row5-->
            <div class="RowUXWireframes laptopRowUX">
                <img class="laptopimageUX" src="~/images/PortfolioProjectsList/ProjectFive/PotsPansHomePg.png" />
                <div class="Text_UXWireframes-Container">
                    <h3 class="text-white">
                        Home Page
                    </h3>
                    <p class="Text-UXWireframes text-white">
                        All account users have acces to view homepage view product details
                    </p>
                </div>
            </div>
            <!--Row6-->
            <div class="RowUXWireframes laptopRowUX">
                <img class="laptopimageUX" src="~/images/PortfolioProjectsList/ProjectFive/ProductDetails.png" />
                <div class="Text_UXWireframes-Container">
                    <h3 class="text-white">
                        Products Details Page
                    </h3>
                    <p class="Text-UXWireframes text-white">
                        Shows product descriptions and the quantity of price when the number of items differ
                    </p>
                </div>
            </div>
            <!--Row7-->
            <div class="RowUXWireframes laptopRowUX">
                <img class="laptopimageUX" src="~/images/PortfolioProjectsList/ProjectFive/PaymentStripe.png" />
                <div class="Text_UXWireframes-Container">
                    <h3 class="text-white">
                        Stripe Payment Checkout page
                    </h3>
                    <p class="Text-UXWireframes text-white">
                        Allows users to see the items being purchased before payment with user debit or credit card
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <a id="hoverProjectBtn" class="BackToListBtn btn btn-white BackToListBtnTwo" asp-controller="Home" asp-action="PortfolioProjects">Back To List</a>

</section>
<div class="bgStripe"></div>
<div class="bgStripe bgStripe2"></div>
<div class="bgStripe bgStripe3"></div>
@section Scripts{
    <script>
        const visitProjectFive = document.getElementsByClassName(".visitProjectFive");
        visitProjectFive.addEventListener("click", OpenNewTabProjectFive);

        function OpenNewTabProjectFive() {

            let ref = window.open('', "visitProjectFive");

        }
    </script>
}
