@{
    ViewData["Title"] = "Travel App";
}

<section id="projectPageContainer" class="projectPageContainerTwo">
    <div id="ProjectTitleContainerTwo" class="ProjectTitleContainer bg-white">
        <h1 class="text-center text-primary projectTitle">Travel App</h1>
    </div>
    <!--ProjectFinalOutcome_UXWireFrames-->
    <div id="ProjectFinalOutcome_UXWireFramesContainer" class="">
        <div id="ProjectFinalOutcome_Layout">
            <video class="videoProjectMobileUx" width="400" height="600" loop autoplay muted>
                <source src="/mp4/TravelApp.mp4" type="video/mp4">
                <source src="/mp4/TravelApp.ogg" type="video/ogg">
            </video>
            <div id="TwoProjectSummary_Container" class="ProjectSummary_Container">
                <h3 class="briefHeading text-white">The Brief</h3>
                <p class="briefText text-white">
                    The Brief is to design and create an
                    application that focuses on connecting
                    people together through visual historical
                    information, using Augmented Reality
                    focusing on the Macclesfield.
                </p>
                <h3 class="briefHeading text-white">Success Criteria</h3>
                <p class="briefText text-white">> Implementing mobile first approach</p>
                <p class="briefText text-white">> Consistent colours scheme throughout the App </p>
                <p class="briefText text-white">> Clear and consistent user experience</p>
                <p class="briefText text-white">> Functionality meeting the brief aspirations and purpose</p>
                <p class="briefText text-white">> To confidently employ and utlise research methods and materials, appropriate to digital  design</p>
            </div>
        </div>
    </div>
    <!--UXWireFrames-->
    <div id="UXWireframes-Container" class="">

        <div id="caseStudySummary-Container" class="caseStudySummaryContainer bg-white">
            <h3 class="text-primary text-center">Authentication & Authorization</h3>
            <p id="caseStudySummary-PText" class="text-primary" style="">
                Integration with a reliable external authentication provider
                will allow users to sign in using OAuth 2.0 using their credentials.
            </p>
            <div id="imageUX_TwoContainer">
                <img class="imageUX imageUXMobileSize" src="~/images/PortfolioProjectsList/ProjectTwo/Login&SingUp.png" />
            </div>
        </div>

        <div id="UXWireframesContent-Container" class="UXWireframes-ContainerTwo">
            <!--Row1-->
            <div class="RowUXWireframes">
                <img class="imageUX" src="~/images/PortfolioProjectsList/ProjectTwo/Map.png" />
                <div class="Text_UXWireframes-Container Text_UXWireframesMobile-Container">
                    <h3 class="text-white">Use the map to explore the city</h3>
                    <p class="Text-UXWireframes text-white ">
                        The app assists the user in navigating around the city, showing
                        them where the Museum's and facilities are and how to get there
                        from their current position.
                    </p>
                </div>
            </div>
            <!--Row2-->
            <div class="RowUXWireframes">
                <img class="imageUX" src="~/images/PortfolioProjectsList/ProjectTwo/Directions.png" />
                <div class="Text_UXWireframes-Container Text_UXWireframesMobile-Container">
                    <h3 class="text-white">Get directions to your chosen activites</h3>
                    <p class="Text-UXWireframes text-white">
                        The app assists the user in navigating around the city,
                        showing them where the Museum's and facilities are
                        and how to get there from their current position.
                    </p>
                </div>

            </div>
            <!--Row3-->
            <div class="RowUXWireframes">
                <img class="imageUX" src="~/images/PortfolioProjectsList/ProjectTwo/AR.png" />
                <div class="Text_UXWireframes-Container Text_UXWireframesMobile-Container">
                    <h3 class="text-white">Book AR Immersive Experience</h3>
                    <p class="Text-UXWireframes text-white">
                        Users will be provided with an immersive experience in the museum
                        by using Holo Lens technology to create a responsive and  interactive enviroment.
                    </p>
                </div>
            </div>
            <!--Row4-->
            <div class="RowUXWireframes">
                <img class="imageUX" src="~/images/PortfolioProjectsList/ProjectTwo/Tour.png" />
                <div class="Text_UXWireframes-Container Text_UXWireframesMobile-Container">
                    <h3 class="text-white">Use the app to have a Digital Tour</h3>
                    <p class="Text-UXWireframes text-white">
                        No need for brochures and users can also see Museum exhibt info
                        through the app as audio or text to avoid over-crowded spaces.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <a id="hoverProjectBtn" class="BackToListBtn btn btn-white BackToListBtnTwo" asp-controller="Home" asp-action="PortfolioProjects">Back To List</a>

</section>

<div class="bgStripe"></div>
<div class="bgStripe bgStripe2"></div>
<div class="bgStripe bgStripe3"></div>