@{
    ViewData["Title"] = "Digital storytelling through motion";
}

<section id="projectPageContainer" class="projectPageContainerOne">
    <div id="ProjectTitleContainerOne" class="ProjectTitleContainer bg-white">
        <h1 class="text-center text-primary projectTitle projectTitleOne">Digital Storytelling through <br />Motion</h1>
    </div>
    <div id="projectPageContent_Container" class="projectPageContentOne_Container">
        <video class="videoProjectOne"  controls>
            <!-- height="240"  width="400" height="640"-->
            <source src="/mp4/FinalDigitalStorytellingThroughMotion.mp4" type="video/mp4">
            <source src="/mp4/FinalDigitalStorytellingThroughMotion.ogg" type="video/ogg">
        </video>
        <div class="ProjectSummary_Container">
            <h3 class="briefHeading text-white">The Brief</h3>
            <p class="briefText text-white">
               Select a theme and use AfterEffects to build a motion 
               design that will result in a final video output that 
               is no longer than 90 seconds and exported to the proper 
               file convention.
            </p>
            <h3 class="briefHeading text-white">Success Criteria</h3>
            <p class="briefText text-white">> To improve interaction with the many subfields of digital media and design innovation</p>
            <p class="briefText text-white">> To investigate the tactical, artistic, and technological facets of digital design, as well as the my own individual approach.</p>
            <p class="briefText text-white">> To develop my confidence and advanced presentational skills</p>
        </div>
    </div>
    <a id="hoverProjectBtn" class="BackToListBtn BackToListBtnOne btn btn-secondary" asp-controller="Home" asp-action="PortfolioProjects">Back To List</a>
</section>
<div class="bgStripe"></div>
<div class="bgStripe bgStripe2"></div>
<div class="bgStripe bgStripe3"></div>