<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SeunA.</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SeunA_Portfolio.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/x-icon" href="~/SALogo.ico" />
    <!--Loading Page Animation-->
    <link rel="stylesheet" href="~/css/LoadingPageAnimation.css" />
    <!--Menu-->
    <link rel="stylesheet" href="~/css/Menu.css" />
    <!--All Custom Responsive Device-->
    <link rel="stylesheet" href="~/scss/custom.css" />
    <!--Responsive devices-->
    <link rel="stylesheet" href="~/css/devices/sm.css" />
    <link rel="stylesheet" href="~/css/devices/md.css" />
    <link rel="stylesheet" href="~/css/devices/lg.css" />
    <link rel="stylesheet" href="~/css/devices/xl.css" />
    <link rel="stylesheet" href="~/css/devices/xxl.css" />

    <!--SVG HomePageAnimations-->
    <link rel="stylesheet" href="~/css/SVG_Animations.css" />
    <!--Bootrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>
<body class="bg-primary">
    <header id="header" class="headerSection" style="display:none;">
        <nav class="navbar navbar-expand-sm  navbar-light bg-primary mb-3">
            <div class="container-fluid">
                <a id="LogoBtn" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <svg id="whiteLogoIcon" width="56" height="56" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M31 60.5652C47.3284 60.5652 60.5652 47.3284 60.5652 31C60.5652 14.6716 47.3284 1.43475 31 1.43475C14.6716 1.43475 1.43475 14.6716 1.43475 31C1.43475 47.3284 14.6716 60.5652 31 60.5652Z" fill="white" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M31 1.86957C14.9117 1.86957 1.86957 14.9117 1.86957 31C1.86957 47.0883 14.9117 60.1304 31 60.1304C47.0883 60.1304 60.1304 47.0883 60.1304 31C60.1304 14.9117 47.0883 1.86957 31 1.86957ZM1 31C1 14.4315 14.4315 1 31 1C47.5685 1 61 14.4315 61 31C61 47.5685 47.5685 61 31 61C14.4315 61 1 47.5685 1 31Z" fill="black" stroke="black" />
                        <path d="M34.9006 10.3952L36.7969 15.3796L36.4718 15.4337C36.4718 15.4157 35.9661 14.8829 34.9548 13.8355C33.9616 12.7881 32.8148 11.9844 31.5145 11.4246C30.2323 10.8467 28.7785 10.5577 27.1532 10.5577C24.4262 10.5577 22.2591 11.3433 20.6518 12.9145C19.0626 14.4676 18.268 16.3457 18.268 18.549C18.268 20.0118 18.6382 21.294 19.3787 22.3956C20.1371 23.4792 21.7083 24.4905 24.0921 25.4296C28.1916 26.8021 30.9908 27.8405 32.4897 28.5448C34.0067 29.2311 35.4605 30.4049 36.8511 32.0664C38.2597 33.7279 38.964 35.8589 38.964 38.4594C38.964 39.543 38.8376 40.5814 38.5847 41.5746C38.3319 42.5498 37.9256 43.4979 37.3657 44.419C36.8059 45.3219 36.1287 46.1527 35.3341 46.9112C34.5575 47.6516 33.7629 48.2205 32.9502 48.6178C32.1376 48.997 30.8554 49.286 29.1036 49.4846C27.3518 49.6833 26.196 49.7826 25.6362 49.7826H14.9902V38.1885H15.3966C15.4327 42.0351 16.3357 44.717 18.1055 46.2339C19.8753 47.7509 22.6293 48.5094 26.3676 48.5094C29.7628 48.5094 32.3362 47.7058 34.088 46.0985C35.8578 44.4912 36.7427 42.5589 36.7427 40.3014C36.7427 38.9289 36.4357 37.7641 35.8217 36.807C35.2077 35.8318 34.3498 34.983 33.2482 34.2606C32.1466 33.5202 30.0607 32.6262 26.9907 31.5788C23.9386 30.5133 21.7896 29.5832 20.5435 28.7886C19.3154 27.976 18.2861 26.766 17.4553 25.1587C16.6246 23.5334 16.2092 21.8809 16.2092 20.2014C16.2092 17.1133 17.2657 14.5218 19.3787 12.4269C21.5097 10.332 24.2998 9.28455 27.7492 9.28455C29.0855 9.28455 30.5303 9.43805 32.0834 9.74506C33.6365 10.0521 34.5033 10.2507 34.6839 10.341C34.7562 10.3771 34.8284 10.3952 34.9006 10.3952Z" fill="black" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.3787 22.3956C18.6382 21.294 18.268 20.0118 18.268 18.549C18.268 16.3457 19.0626 14.4676 20.6518 12.9145C22.2591 11.3433 24.4262 10.5577 27.1532 10.5577C28.7785 10.5577 30.2323 10.8467 31.5145 11.4246C32.8148 11.9844 33.9616 12.7881 34.9548 13.8355C35.9589 14.8754 36.4645 15.408 36.4717 15.4333C36.4718 15.4335 36.4718 15.4336 36.4718 15.4337L36.7969 15.3796L34.9006 10.3952C34.8284 10.3952 34.7562 10.3771 34.6839 10.341C34.5033 10.2507 33.6365 10.0521 32.0834 9.74506C30.5303 9.43805 29.0855 9.28455 27.7492 9.28455C24.2998 9.28455 21.5097 10.332 19.3787 12.4269C17.2657 14.5218 16.2092 17.1133 16.2092 20.2014C16.2092 21.8809 16.6246 23.5334 17.4553 25.1587C18.2861 26.766 19.3154 27.976 20.5435 28.7886C21.7896 29.5832 23.9386 30.5133 26.9907 31.5788C30.0607 32.6262 32.1466 33.5202 33.2482 34.2606C34.3498 34.983 35.2077 35.8318 35.8217 36.807C36.4357 37.7641 36.7427 38.9289 36.7427 40.3014C36.7427 42.5589 35.8578 44.4912 34.088 46.0985C32.3362 47.7058 29.7628 48.5094 26.3676 48.5094C22.6293 48.5094 19.8753 47.7509 18.1055 46.2339C16.3357 44.717 15.4327 42.0351 15.3966 38.1885H14.9902V49.7826H25.6362C26.196 49.7826 27.3518 49.6833 29.1036 49.4846C30.8554 49.286 32.1376 48.997 32.9502 48.6178C33.7629 48.2205 34.5575 47.6516 35.3341 46.9112C36.1287 46.1527 36.8059 45.3219 37.3657 44.419C37.9256 43.4979 38.3319 42.5498 38.5847 41.5746C38.8376 40.5814 38.964 39.543 38.964 38.4594C38.964 35.8589 38.2597 33.7279 36.8511 32.0664C35.4605 30.4049 34.0067 29.2311 32.4897 28.5448C30.9908 27.8405 28.1916 26.8021 24.0921 25.4296C21.7083 24.4905 20.1371 23.4792 19.3787 22.3956ZM38.3321 41.5096C38.5792 40.5388 38.7031 39.5223 38.7031 38.4594C38.7031 35.9081 38.0133 33.8407 36.6521 32.2351L36.651 32.2338C35.2783 30.5937 33.8544 29.4485 32.3822 28.7825L32.3805 28.7817L32.3788 28.7809C30.8954 28.0839 28.1097 27.0498 24.0093 25.677L24.0029 25.6748L23.9965 25.6723C21.6025 24.7292 19.9695 23.6947 19.1649 22.5452L19.1635 22.5432L19.1621 22.5411C18.3899 21.3921 18.0071 20.0581 18.0071 18.549C18.0071 16.2748 18.8305 14.3296 20.4695 12.7279C22.1356 11.0993 24.3735 10.2969 27.1532 10.2969C28.809 10.2969 30.2995 10.5912 31.6197 11.1859C32.9519 11.7598 34.1269 12.5835 35.1432 13.6551C35.6487 14.1785 36.0283 14.574 36.2818 14.8411C36.2997 14.86 36.317 14.8782 36.3338 14.8959L34.7108 10.6299C34.6616 10.6163 34.6137 10.5975 34.5673 10.5743C34.548 10.5647 34.4835 10.5412 34.3504 10.5045C34.2248 10.4698 34.0551 10.4279 33.8401 10.3786C33.4104 10.2801 32.8084 10.1543 32.0328 10.001C30.4934 9.69668 29.0658 9.54542 27.7492 9.54542C24.357 9.54542 21.6365 10.5733 19.5619 12.6125C17.5007 14.6563 16.4701 17.1801 16.4701 20.2014C16.4701 21.836 16.8739 23.4478 17.6874 25.0395C18.5018 26.6151 19.5032 27.7869 20.6856 28.5699C21.9045 29.3467 24.0279 30.2681 27.0759 31.3322C30.1439 32.379 32.2591 33.2818 33.3926 34.0433C34.52 34.7829 35.4055 35.6567 36.0418 36.667C36.6875 37.674 37.0036 38.8898 37.0036 40.3014C37.0036 42.6369 36.0842 44.6378 34.2639 46.2911C32.4469 47.958 29.8 48.7703 26.3676 48.7703C22.6024 48.7703 19.7741 48.0078 17.9357 46.432C16.4325 45.1435 15.5509 43.0762 15.2511 40.2771V49.5217H25.6362C26.1787 49.5217 27.3195 49.4244 29.0742 49.2254C30.8181 49.0277 32.0649 48.7425 32.838 48.3823C33.6218 47.9987 34.3941 47.447 35.1541 46.7224C35.9329 45.9789 36.5958 45.1656 37.1435 44.2824C37.6906 43.3821 38.0862 42.458 38.3321 41.5096Z" fill="black" />
                        <path d="M38.7864 27.259L31.1182 27.2537L27.1347 37.1839C26.8608 37.8971 26.7238 38.3368 26.7237 38.5033C26.7234 38.8956 27.0145 39.092 27.5971 39.0924L27.5969 39.342L23.6915 39.3393L23.6917 39.0897C24.2148 39.09 24.6547 38.9655 25.0116 38.7161C25.3684 38.4548 25.7612 37.7893 26.1899 36.7196L35.7291 12.6874L36.1749 12.6877L45.5391 35.9125C45.539 36.0314 45.7764 36.5963 46.2513 37.6071C46.738 38.6061 47.4748 39.1059 48.4615 39.1066L48.4614 39.3563L42.3269 39.3521L42.327 39.1024C42.8858 39.1028 43.1653 38.8831 43.1656 38.4432C43.1658 38.146 43.0294 37.6703 42.7564 37.0163C42.7089 36.9687 42.6674 36.8914 42.6318 36.7844C42.6081 36.6655 42.5903 36.606 42.5784 36.606L38.7864 27.259ZM31.3684 26.5227L38.4659 26.5276L34.9233 17.5731L31.3684 26.5227Z" fill="black" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M42.5313 39.0913C42.9539 39.0418 43.1654 38.8257 43.1656 38.4432C43.1658 38.146 43.0294 37.6703 42.7565 37.0163C42.7089 36.9687 42.6674 36.8914 42.6318 36.7844C42.6081 36.6654 42.5903 36.606 42.5784 36.606L38.7864 27.259L31.1183 27.2537L27.1347 37.1839C26.8608 37.897 26.7238 38.3368 26.7237 38.5033C26.7234 38.8415 26.9397 39.034 27.3725 39.081C27.4418 39.0885 27.5167 39.0923 27.5971 39.0924L27.5969 39.342L23.6915 39.3393L23.6917 39.0897C23.7822 39.0897 23.8702 39.0861 23.9557 39.0787C24.3645 39.0432 24.7165 38.9224 25.0116 38.7161C25.3684 38.4548 25.7612 37.7893 26.1899 36.7196L35.7291 12.6874L36.1749 12.6877L45.5391 35.9125C45.5391 36.0314 45.7764 36.5963 46.2513 37.6071C46.6959 38.5197 47.3492 39.0157 48.2111 39.0952C48.2927 39.1028 48.3762 39.1065 48.4616 39.1066L48.4614 39.3563L42.3269 39.3521L42.327 39.1024C42.3999 39.1025 42.468 39.0988 42.5313 39.0913ZM46.4866 37.4945C46.7148 37.9622 46.9934 38.2969 47.3154 38.5154C47.636 38.7328 48.0146 38.8454 48.4617 38.8457L48.7226 38.8459L48.7221 39.6173L42.0658 39.6128L42.0664 38.8414L42.3272 38.8415C42.5795 38.8417 42.7205 38.791 42.7945 38.7328C42.8566 38.684 42.9047 38.6039 42.9048 38.443C42.9049 38.2083 42.7935 37.7886 42.5321 37.1562C42.4649 37.0729 42.4186 36.9701 42.3842 36.8667L42.3791 36.8513L42.3759 36.8353C42.3699 36.8049 42.3647 36.7809 42.3603 36.7623L38.6107 27.5197L31.2946 27.5147L27.3783 37.2775C27.378 37.278 27.3778 37.2786 27.3776 37.2792C27.2419 37.6326 27.1416 37.9144 27.0756 38.1262C27.0057 38.3505 26.9846 38.4656 26.9845 38.5035C26.9845 38.6247 27.0234 38.6852 27.0877 38.7285C27.1703 38.7842 27.3271 38.8313 27.5973 38.8315L27.8581 38.8317L27.8576 39.6031L23.4305 39.6L23.431 38.8286L23.6919 38.8288C24.1712 38.8291 24.5553 38.7159 24.8597 38.504C24.9953 38.4039 25.1603 38.2083 25.3491 37.8884C25.5363 37.5712 25.7361 37.1507 25.9476 36.623C25.9476 36.6229 25.9477 36.6227 25.9478 36.6226L35.552 12.4264L36.3511 12.427L45.8 35.862L45.8 35.901C45.8006 35.9037 45.8015 35.9077 45.8029 35.913C45.8078 35.9323 45.8165 35.9607 45.8301 35.9998C45.8571 36.0777 45.8992 36.1852 45.9576 36.3243C46.0741 36.6014 46.2501 36.991 46.4866 37.4945ZM38.4659 26.5276L34.9233 17.5731L31.3684 26.5227L38.4659 26.5276ZM31.7526 26.2621L38.082 26.2665L34.9228 18.281L31.7526 26.2621Z" fill="black" />
                    </svg>
                </a>
                <div id="menuIcon" class="menu-btn">
                    <div class="menu-btn_burger"></div>
                </div>
            </div>
        </nav>
        <div class="scrollTracker"></div>
        <!--Mobile Side Navigation-->
        <aside id="SideNav" class="bg-primary">
            <a class="menuLink" asp-controller="Home" asp-action="Index">
                Home
            </a>
            <a class="menuLink" asp-controller="Home" asp-action="PortfolioProjects">
                My Work
            </a>
            <a id="GitHubLinkBtn" class="menuLink text-white" href="https://github.com/SeunAfa" target="GitHubLink">
                My GitHub
            </a>
            <a class="menuLink" href="~/download/Seun Afariogun CV.pdf" download>
                Download CV
            </a>
            <p id="Copyright">Copyright &copy; Seun Afariogun</p>
        </aside>
    </header>
    <partial name="_loadingAnimation" />
    <!--MainBody-->
    <div id="render" style="display:none;">
        <!--ContactMe-->
        <div id="fixedBtns">
            <div id="ContactMeContainer">
                <!--height="158"-->
                <svg width="50" height="158" viewBox="0 0 50 158" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="ContactMeDetailsContainer">
                        <rect id="RectangleBackground" class="" x="0.5" y="0.5" width="49" height="157" rx="24.5" fill="#4B73FF" stroke="#4B73FF" />
                        <a id="LinkDinLinkBtn" href="https://www.linkedin.com/in/seun-afariogun-335557178/" target="LinkDinLink">
                            <g id="LinkDinBtn">
                                <g id="Group 80">
                                    <g id="Group 79">
                                        <g id="Group 61">
                                            <g id="Group 58">
                                                <g id="Group 55">
                                                    <circle id="Ellipse 1" cx="25" cy="79" r="22" fill="white" stroke="white" stroke-width="2" />
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                    <rect id="icons8-linkedin-50 1" x="14" y="68" width="22" height="22" fill="url(#pattern0)" />
                                </g>
                            </g>
                        </a>
                        <g id="ContactCloseBtn">
                            <g id="Group 61_2">
                                <g id="Group 58_2">
                                    <g id="Group 55_2">
                                        <circle id="Ellipse 1_2" cx="25" cy="133" r="22" fill="white" stroke="white" stroke-width="2" />
                                    </g>
                                </g>
                            </g>
                            <path id="Vector" d="M33 125L17 141M17 125L33 141" stroke="#4B73FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </g>
                        <g id="ContactMeContainerBtn">
                            <rect id="CirlcleBackground" x="0.5" y="108.5" width="49" height="49" rx="24.5" fill="black" stroke="black" />
                            <g id="ContactMeBtn">
                                <g id="Group 65">
                                    <g id="ContactCloseBtn_2">
                                        <g id="Group 61_3">
                                            <g id="Group 58_3">
                                                <g id="Group 55_3">
                                                    <circle id="Ellipse 1_3" cx="25" cy="133" r="22" fill="white" stroke="white" stroke-width="2" />
                                                </g>
                                            </g>
                                        </g>
                                        <path id="Vector_2" d="M33 125L17 141M17 125L33 141" stroke="#4B73FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                    <g id="Group 61_4">
                                        <g id="Group 58_4">
                                            <g id="Group 55_4">
                                                <circle id="Ellipse 1_4" cx="25" cy="133" r="22" fill="white" stroke="white" stroke-width="2" />
                                            </g>
                                        </g>
                                    </g>
                                    <path id="Contact Me" d="M12.627 130.751C12.1159 130.998 11.4486 131.122 10.625 131.122C9.55078 131.122 8.70605 130.806 8.09082 130.175C7.47559 129.543 7.16797 128.702 7.16797 127.65C7.16797 126.531 7.51302 125.622 8.20312 124.926C8.89648 124.229 9.79492 123.881 10.8984 123.881C11.582 123.881 12.1582 123.967 12.627 124.14V125.658C12.1582 125.378 11.6243 125.238 11.0254 125.238C10.3678 125.238 9.83724 125.445 9.43359 125.858C9.02995 126.272 8.82812 126.832 8.82812 127.538C8.82812 128.215 9.01855 128.756 9.39941 129.159C9.78027 129.56 10.293 129.76 10.9375 129.76C11.5527 129.76 12.1159 129.61 12.627 129.311V130.751ZM16.0791 131.122C15.2458 131.122 14.5898 130.889 14.1113 130.424C13.6361 129.955 13.3984 129.32 13.3984 128.52C13.3984 127.693 13.6458 127.047 14.1406 126.581C14.6354 126.112 15.3044 125.878 16.1475 125.878C16.9775 125.878 17.6286 126.112 18.1006 126.581C18.5726 127.047 18.8086 127.663 18.8086 128.432C18.8086 129.262 18.5645 129.918 18.0762 130.399C17.5911 130.881 16.9255 131.122 16.0791 131.122ZM16.1182 127.06C15.7536 127.06 15.4704 127.185 15.2686 127.436C15.0667 127.686 14.9658 128.041 14.9658 128.5C14.9658 129.46 15.3532 129.94 16.1279 129.94C16.8669 129.94 17.2363 129.447 17.2363 128.461C17.2363 127.527 16.8636 127.06 16.1182 127.06ZM24.6387 131H23.1006V128.222C23.1006 127.447 22.8239 127.06 22.2705 127.06C22.0036 127.06 21.7839 127.162 21.6113 127.367C21.4388 127.572 21.3525 127.833 21.3525 128.148V131H19.8096V126H21.3525V126.791H21.3721C21.7399 126.182 22.2754 125.878 22.9785 125.878C24.0853 125.878 24.6387 126.565 24.6387 127.938V131ZM28.8867 130.941C28.6589 131.062 28.3154 131.122 27.8564 131.122C26.7692 131.122 26.2256 130.557 26.2256 129.428V127.138H25.415V126H26.2256V124.921L27.7637 124.481V126H28.8867V127.138H27.7637V129.159C27.7637 129.68 27.9704 129.94 28.3838 129.94C28.5465 129.94 28.7142 129.893 28.8867 129.799V130.941ZM33.9209 131H32.4609V130.282H32.4414C32.1061 130.842 31.6097 131.122 30.9521 131.122C30.4671 131.122 30.0846 130.985 29.8047 130.712C29.528 130.435 29.3896 130.067 29.3896 129.608C29.3896 128.638 29.9642 128.078 31.1133 127.929L32.4707 127.748C32.4707 127.201 32.1745 126.928 31.582 126.928C30.9863 126.928 30.4199 127.105 29.8828 127.46V126.298C30.0977 126.187 30.3906 126.09 30.7617 126.005C31.1361 125.92 31.4762 125.878 31.7822 125.878C33.208 125.878 33.9209 126.589 33.9209 128.012V131ZM32.4707 128.969V128.632L31.5625 128.749C31.0612 128.814 30.8105 129.04 30.8105 129.428C30.8105 129.604 30.8708 129.748 30.9912 129.862C31.1149 129.973 31.2809 130.028 31.4893 130.028C31.779 130.028 32.015 129.929 32.1973 129.73C32.3796 129.529 32.4707 129.275 32.4707 128.969ZM38.9307 130.819C38.5824 131.021 38.0794 131.122 37.4219 131.122C36.6536 131.122 36.0319 130.889 35.5566 130.424C35.0814 129.958 34.8438 129.358 34.8438 128.622C34.8438 127.772 35.0977 127.104 35.6055 126.615C36.1165 126.124 36.7985 125.878 37.6514 125.878C38.2406 125.878 38.667 125.956 38.9307 126.112V127.421C38.6084 127.18 38.2487 127.06 37.8516 127.06C37.4089 127.06 37.0573 127.19 36.7969 127.45C36.5397 127.707 36.4111 128.064 36.4111 128.52C36.4111 128.962 36.5348 129.311 36.7822 129.564C37.0296 129.815 37.3698 129.94 37.8027 129.94C38.1868 129.94 38.5628 129.82 38.9307 129.579V130.819ZM42.9688 130.941C42.7409 131.062 42.3975 131.122 41.9385 131.122C40.8512 131.122 40.3076 130.557 40.3076 129.428V127.138H39.4971V126H40.3076V124.921L41.8457 124.481V126H42.9688V127.138H41.8457V129.159C41.8457 129.68 42.0524 129.94 42.4658 129.94C42.6286 129.94 42.7962 129.893 42.9688 129.799V130.941ZM26.2891 144H24.7314V139.811C24.7314 139.358 24.751 138.858 24.79 138.312H24.751C24.6696 138.741 24.5964 139.05 24.5312 139.239L22.8906 144H21.6016L19.9316 139.288C19.8861 139.161 19.8128 138.836 19.7119 138.312H19.668C19.7103 139.002 19.7314 139.607 19.7314 140.128V144H18.3105V136.998H20.6201L22.0508 141.148C22.1647 141.48 22.2477 141.814 22.2998 142.149H22.3291C22.417 141.762 22.5098 141.425 22.6074 141.139L24.0381 136.998H26.2891V144ZM32.2217 141.939H28.96C29.012 142.665 29.4694 143.028 30.332 143.028C30.8822 143.028 31.3656 142.898 31.7822 142.638V143.751C31.32 143.998 30.7194 144.122 29.9805 144.122C29.1732 144.122 28.5465 143.899 28.1006 143.453C27.6546 143.004 27.4316 142.379 27.4316 141.578C27.4316 140.748 27.6725 140.09 28.1543 139.605C28.6361 139.12 29.2285 138.878 29.9316 138.878C30.6608 138.878 31.224 139.094 31.6211 139.527C32.0215 139.96 32.2217 140.548 32.2217 141.29V141.939ZM30.791 140.992C30.791 140.276 30.5013 139.918 29.9219 139.918C29.6745 139.918 29.4596 140.021 29.2773 140.226C29.0983 140.431 28.9893 140.686 28.9502 140.992H30.791Z" fill="#4B73FF" />
                                </g>
                            </g>
                        </g>
                        <a href="mailto:SeunAfa@hotmail.com">
                            <g id="EmailBtn">

                                <g id="GmailBtn">
                                    <g id="">
                                        <circle id="Ellipse 1_5" cx="25" cy="25" r="22" fill="white" stroke="white" stroke-width="2" />
                                    </g>
                                </g>
                                <g id="MailIcon">
                                    <path id="" d="M16.875 15C16.2236 15 15.5916 15.2211 15.0823 15.6272C14.5731 16.0333 14.2168 16.6003 14.0719 17.2353L25.5 24.2201L36.9281 17.2353C36.7832 16.6003 36.4269 16.0333 35.9177 15.6272C35.4084 15.2211 34.7764 15 34.125 15H16.875ZM14 29.0875V18.8784L22.3418 23.9758L14 29.0889V29.0875ZM23.7189 24.8181L14.2746 30.6055C14.5077 31.0978 14.8759 31.5137 15.3363 31.8049C15.7967 32.096 16.3303 32.2504 16.875 32.25H25.868C25.6236 31.5574 25.4992 30.8282 25.5 30.0938C25.499 29.1495 25.7052 28.2164 26.1041 27.3605C26.503 26.5046 27.0849 25.7467 27.8086 25.1401L27.2811 24.8167L25.5 25.9049L23.7189 24.8167V24.8181ZM37 26.0271V18.8769L28.6582 23.9743L29.1441 24.2733C30.0242 23.8455 30.9902 23.6238 31.9688 23.625C34.0014 23.625 35.8141 24.5622 37 26.0271Z" fill="#4B73FF" />
                                    <path id="" d="M36.7614 29.7258C36.7614 31.4048 35.9319 32.6367 34.4801 32.6367C33.757 32.6367 33.0397 32.3089 32.8701 31.7052H32.8082C32.6386 32.3032 32.0277 32.6295 31.3492 32.6295C30.2423 32.6295 29.5394 31.8504 29.5394 30.5681V29.8077C29.5394 28.5944 30.2308 27.7952 31.3506 27.7952C32.1916 27.7952 32.6012 28.2739 32.7206 28.7008H32.7637V27.8843H34.0646V31.0324C34.0646 31.4234 34.3234 31.6362 34.6554 31.6362C35.1083 31.6362 35.574 31.0396 35.574 29.6381V29.4684C35.574 27.6327 34.2084 26.1248 32.0033 26.1248H31.9458C29.6716 26.1248 28.1507 27.6586 28.1507 30.0406V30.2662C28.1507 32.9501 29.9289 34.0814 31.8451 34.0814H31.9098C32.6386 34.0814 33.2539 33.9807 33.6061 33.8226V34.8734C33.2912 35.0172 32.6818 35.125 31.8279 35.125H31.7646C29.0046 35.125 26.9375 33.4287 26.9375 30.3036V29.996C26.9375 27.0175 28.9802 25.0625 31.9472 25.0625H31.9975C35.045 25.0625 36.7614 27.1181 36.7614 29.4239V29.7258ZM30.9539 30.0276V30.3539C30.9539 31.1963 31.2802 31.5039 31.7891 31.5039C32.2347 31.5039 32.5998 31.2596 32.5998 30.4359V29.9083C32.5998 29.1666 32.2045 28.8906 31.7776 28.8906C31.2802 28.8906 30.9539 29.2428 30.9539 30.0276V30.0276Z" fill="#4B73FF" />
                                </g>

                            </g>
                        </a>
                    </g>
                    <defs>
                        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                            <use xlink:href="#image0_564_44" transform="scale(0.02)" />
                        </pattern>
                        <image id="image0_564_44" data-name="icons8-linkedin-50.png" width="50" height="50" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAACZklEQVRoge2Zv2tTURiGny8p6aAVxCwu4uaki3URxFFMUtulgyDFxVGxuQEHFwcpCmlaCi4OBQcdnIo2oYJDQUWw+RMEnUTtIhKL5tfnEiHee1J7bpqTa3ufLe/5+Hhfzjk3594DMTEx2yG9BjIFnQRmRRkHDrizZOQHsCFCabUoz00FxiDZvN5DuDVQa+GZK8/Lbb8YCJIp6KQoK248hUOViUpJVru1hKFu1pGf0IiQ92uBIKKcdmOnL8b9gmlGDjow0i9jfsEU5L9k3wb5jHA5lSKdSpEWuIKwORBnloxY1l8tF+VF1+/HmYLWhOE/rq1mpF3nrV+rJ1nfPTvhsQqSHOW8X0s1OLd7dsJjtbRUWc7l1ROhAqBwASjpQKzZYbtH0io8ioJxP/v28RtZrJZWeV7Mx35P1aLmNcKDkTZvUof48muL0WaDE5IgA9wAjth4+oPtHgmPsKktZioLsuYbqQNVoDp1U5eaSZ4oXLRt72xpJVucNYT4i5VF+VYb4xLKK9v+zoI8W5D3O6lbvyPNVpsZoGHTfyibfXpak9uNry3KR+CpTU+nQbKeXs96+mnrGM2spx9yBb3Wq1Y7f7o7xVmQCU+ngCXgaEc6rsrDTF5zRmPChk1/Z0Havb4FJCiY5J8Jvtr0d7m0TppEUU6Z9Jf3+W7T3GWQw3a6WB3p9swRJQ4SNeIgUSMOEjXiIFEj8Fra/doaZfyv1HtmRkxBas5d2BM4UJqCVB0Y6QsxeAxevQklN3bCowaPgSCde+w5J45CIHC3XJSyQTeTyWuuc3t6huHfK9YE3qlQMoWIiYn5N78BY9eZYDnT5D0AAAAASUVORK5CYII=" />
                    </defs>
                </svg>
            </div>
            <!--Back To Top Btn-->
            <a id="TopBtn" href="#"><i class="bi bi-arrow-up-circle-fill" style="color:black;font-size: 50px;"></i></a>
        </div>
        <!--class="container"-->
        <main role="main">
            @RenderBody()
        </main>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.bundle.min.js" integrity="sha512-BOsvKbLb0dB1IVplOL9ptU1EYA+LuCKEluZWRUYG73hxqNBU85JBIBhPGwhQl7O633KtkjMv8lvxZcWP+N3V3w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/Menu.js"></script>
    <script src="~/js/PageLoadingAnimation.js"></script>
    <script src="~/js/site.js" asp-append-version="true" type="module"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

